body {
	font-family: sans-serif;
}

.result > p {
	float: left;
	margin-right: 10px;
}

.result > .bold {
	font-weight: bold;
}
.result {
	overflow: auto;
}


.loading {
  font-size: 18px;
  text-align: center;
  color: rgb(80, 161, 229);
}

/*hiding here*/
/*show to hide*/
.loading.ng-hide-remove,
.loading.ng-hide-add.ng-hide-add-active {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 

/*showing here*/
/*hide to show*/
.loading.ng-hide-add,
.loading.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}



