<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Country Code</th>
			<th>Capital</th>
			<th>Area in Km2</th>
			<th>Population</th>
			<th>Continent</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="object in countryData track by $index" ng-click="countryDetail(object.countryCode)">
			<td>{{object.countryName}}</td>
			<td>{{object.countryCode}}</td>
			<td>{{object.capital}}</td>
			<td>{{object.areaInSqKm | number}}</td>
			<td>{{object.population | number}}</td>
			<td>{{object.continent}}</td>
		</tr>
	</tbody>
</table>

<a href="#/"><button type="button">Home</button></a>