<h1>{{countryInfo.countryName}}</h1>

<div class="countryResults">
	<div class="result">
		<p class="bold">Population of Country:</p>
		<p>{{countryInfo.population | number}}</p>
	</div>
	<div class="result">
		<p class="bold">Area:</p>
		<p>{{countryInfo.areaInSqKm | number}}</p>
	</div>

	<div class="result">
		<p class="bold">Capital:</p>
		<p>{{countryInfo.capital}}</p>
	</div>

	<div class="result">
		<p class="bold">Population of Capital:</p>
		<p>{{capPop | number}}</p>
	</div>
	
	<div class="result">
		<p class="bold">{{numNeighbors}} Neighbors:</p>
		<p class="neighbors" ng-repeat="neighbor in neighborObjects"><a ng-href="#/countries/{{neighbor.countryCode}}">{{neighbor.countryName}}</a></p>
	</div>

	<img id='myImage' src="http://www.geonames.org/img/country/250/{{countryCode | uppercase}}.png"/>
	<img id='myImage' src="http://www.geonames.org/flags/x/{{countryCode | lowercase}}.gif"/>


</div>

<a href="#/"><button type="button">Home</button></a>
<a href="#/countries"><button type="button">Browse Countries</button></a>